# Unity specific
[Tt]emp/
[Ll]ibrary/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serData/
[Ii]mport/
[Aa][Ss][Ss][Ee][Tt]/

# Visual Studio cache
.vscode/
.idea/

# User-specific files
*.suo
*.user
*.userprefs
*.sln.docstates

# macOS files
.DS_Store

# Windows files
Thumbs.db

# MonoDevelop files
.vscode/
.idea/

# Android
build/
.gradle/
*.iml
/app/build/
