# Unity specific
[Tt]emp/
[Ll]ibrary/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serData/
[Ii]mport/
[Aa][Ss][Ss][Ee][Tt]/
SR_BurstDebugInformation_DoNotShip/
beta.aab
mono_crash.9adc8497e.0.json

# Visual Studio cache
.vscode/
.vsconfig
.idea/

# User-specific files
*.suo
*.user
*.userprefs
*.sln.docstates

# macOS files
.DS_Store

# Windows files
Thumbs.db

# MonoDevelop files
.vscode/
.idea/

# Android
build/
.gradle/
*.iml
/app/build/
